<h1>Todos Pets</h1>
<mat-accordion>
  <mat-expansion-panel *ngFor="let pet of pets">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ pet.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Nascimento: {{ pet.birth | date }}</p>
    <p>Espécie: {{ pet.species }}</p>
    <p>Dono: {{ pet.keeper }}</p>
    <a color="primary" mat-raised-button class="outlined">
      <mat-icon>
        edit
      </mat-icon>
    </a>
    <button color="warn" (click)="delete(pet)" mat-raised-button class="outlined">
      <mat-icon>
        delete_outline
      </mat-icon>
    </button>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator [length]="totalOfItens"
  [pageSize]="10"
  (page)="changePage($event)">
</mat-paginator>

<a class="fab" routerLink="/add" mat-fab>
  <mat-icon>add</mat-icon>
</a>